<h1>lista de ofertas</h1>
<ul>
    {% for oferta in ofertas %}
        <li>{{ oferta.nombre }}</li>
    {% endfor %}
</ul>
<br>
<h1>lista de customer</h1>
<ul>
    {% for customer in customers %}
    <li>{{ customer.name }}</li>
    {% endfor %}
</ul>