<h3>Te registraste</h3>

<p>Hola {{ name }}! estas registrado</p>

<p>Para ingresar en la aplicacion, click en <a href="{{ path('homepage') }}">Ingresar</a></p>

<p>Gracias por preferirnos</p>

<img src="{{ absolute_url(asset('bundles/framework/images/logo_symfony.png')) }}" alt="logo symfony">