{% extends '::frontend.html.twig' %}

{% block title %}Detalle de {{ oferta.nombre }}{% endblock %}
{% block id 'oferta' %}

{% block content %}
    {% include 'OfertaBundle:Default/includes:oferta.html.twig' %}
{% endblock %}


{% block login %}
    <aside>
        ## FORMULARIO DE LOGIN ##
        <section id="nosotros">
            <h2>Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet...</p>
        </section>
    </aside>
{% endblock %}